﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2" id="docs_page" layoutRefId="default_layout">
  <Assignments>
    <Assignment type="Content" baseContentRefId="navi_content" areaRefId="navi_area" />
    <Assignment type="Content" baseContentRefId="docs_content" areaRefId="main_area" />
  </Assignments>
</pdef:Page>